$general: #dac448;
$bg: #131020;
$secondBg: #2a203f;
$neon: #30f1f8;
$african-violet: rgb(193, 129, 204);


* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}


html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  background-color: $bg;
  font-weight: 600;
  font-family: sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;

  align-items: center;

  .messages {
    width: 512px;

    border-radius: 8px;
    padding: 10px;
    overflow-y:scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    background-color: $bg;
    border: solid $african-violet;

    & > * {
      padding: 10px 16px;
      font-size: 24px;
      letter-spacing: 0.02em;
      user-select: none;
      color: #fff;
      text-shadow: 0 0 0.15em $neon;
    }

    :not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .options {
    width: 512px;
    display: flex;
    flex-direction: column;

    & > * {
      border-radius: 6px;
      width: 100%;
      height: 56px;
      color: white;
      outline: none;
      border: solid $african-violet;
    }

    input {
      background-color: $bg;
      padding-left: 10px;
      font-size: 22px;
      margin-bottom: 12px;
      width: 100%;
    }

    button {
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase;
      background-color: $bg;
      transition: 0.3s;
      text-shadow: 0 0 0.15em #1ab7df;
    }
  }
}

@media (min-width: 400px) and (max-width: 1080px) {
  #app {
    .messages {
      width: 100%;

      & > * {
        padding: 20px 28px;
        font-size: 56px;
        letter-spacing: 0.02em;
        user-select: none;
      }
    }

    .options {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        padding-left: 30px;
        font-size: 56px;
        height: 120px;
      }

      button {
        font-size: 56px;
        height: 120px;
      }
    }
  }
}

